* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
}

body {
    font-family: Optima Roman;
    background-color: var(--color-secondary);
}

:root {
    --color-background:#c6c1bd;
    --color-primary:#2c3135;
    --color-secondary: #6b6368;
    --font-family:var(--font-family);
}

/*MOBILE FIRST*/

@media screen and (min-width:300px) and (max-width: 620px) {

    header {
        display: flex;
        position: fixed;
        z-index: 1;
        width: 100%;
        height: 50px;
        padding: 8px;
        background-color: var(--color-background);
    }
    
    .logo {
        display: flex;
        width: 65%;
        justify-content: space-between;
        align-items: center;
        padding-left: 0.5em;
    }

    .logo > a > img {
        width: 160px;
    }

    .name {
        display: flex;
        width: 50%;
        justify-content: end;
        align-items: center;
        padding-right: 0.5em;
    }
  
    
    h1 {
        font-size: 13px;
        color: var(--color-secondary);
    }
    
    main {
        display: flex;
        width: 100%;
        height: 500px;
        padding-top: 50px;
    }

    .main-background {
        display: flex;
        width: 100%;
        height: 500px;
    }

    
    .main-background > img {
        width: 100%;
       filter:grayscale(20%);
       object-fit: cover;
    }
    
    .info {
        display: flex;
        width: 100%;
        padding: 17px 17px 17px 13px;
        justify-content: space-evenly;
        position: absolute;
        gap: 4em;
        top: 3em;
        color: var(--color-primary);
        background-color: transparent;
    }
    
    .parrafo-1, .parrafo-2 {
        background-color: #c6c1bd3f;
        border-radius: 5px;
        padding: 0 5px 0 5px;
        font-size: 20px;
    }
    
    .parrafo-1 {
        text-align:right;
    }
    
    .buttons {
        display: flex;
        width: 100%;
        padding: 5px 18px 5px 5px;
        background-color: transparent;
        position: absolute;
        top: 17em;
        gap: 8em;
        justify-content: space-around;
    }
    
    .buttons > a {
        font-size: 16px;
        background-color: var(--color-secondary);
        color: var(--color-background);
        border-radius: 5px;
        padding: 0 5px; 
        margin-left: 19px;
    }
    
    a:hover {
        color: rgb(199, 170, 192);   
    }
    a:active {
        color:rgb(153, 106, 142);
    }
    
    footer {
        width: 100%;
        height: 30px;
        bottom: 0;
        display: flex;
        position: fixed;
        align-items: center;
        justify-content: space-between;
        background-color: var(--color-background);
    }

    .socialmedia {
        display: flex;
        width: 40%;
        gap: 10px;
        justify-content: start;
        padding-left: 1em;
    }

    .ig, .fb {
        width: 15px;
        height: 15px;
    }

    span {
        display: flex;
        width: 60%;
        font-size: 10px;
        color:var(--color-secondary); 
    }

}
    
@media screen and (min-width:620px) and (max-width: 1024px) {

    header {
        display: flex;
        position: fixed;
        z-index: 1;
        width: 100%;
        height: 65px;
        padding: 8px;
        background-color: var(--color-background);
    }
    
    .logo {
        display: flex;
        width: 65%;
        justify-content: space-between;
        align-items: center;
        padding-left: 0.5em;
    }

    .logo > a > img {
        width: 250px;
    }

    .name {
        display: flex;
        width: 50%;
        justify-content: end;
        align-items: center;
        padding-right: 0.5em;
    }
  
    
    h1 {
        font-size: 19px;
        color: var(--color-secondary);
    }
    
    main {
        display: flex;
        width: 100%;
        height: 500px;
        padding-top: 40px;
        background-color: var(--color-secondary);
    }

    .main-background {
        display: flex;
        width: 100%;
        height: 500px;
    }

    
    .main-background > img {
        width: 100%;
       filter:grayscale(20%);
       object-fit: cover;
    }
    
    .info {
        display: flex;
        width: 100%;
        padding: 14px;
        justify-content: space-between;
        position: absolute;
        top: 7.5em;
        color: var(--color-primary);
        background-color: transparent;
    }
    
    .parrafo-1, .parrafo-2 {
        background-color: #c6c1bd54;
        border-radius: 5px;
        padding: 0 5px 0 5px;
        font-size: 27px;
    }
    
    .parrafo-1 {
        text-align:right;
    }

    .parrafo-2 {
        padding-right: 20px;
    }
    
    .buttons {
        display: flex;
        width: 100%;
        background-color: transparent;
        position: absolute;
        top: 23em;
        padding-right: 24px;
        justify-content: space-around;
    }
    
    .buttons > a {
        font-size: 32px;
        background-color: var(--color-secondary);
        color: var(--color-background);
        border-radius: 5px;
        padding: 0 5px;
        margin-left: 44px;
    }
    
    a:hover {
        color: rgb(199, 170, 192);   
    }
    a:active {
        color:rgb(153, 106, 142);
    }
    
    footer {
        width: 100%;
        height: 50px;
        bottom: 0;
        display: flex;
        position: fixed;
        align-items: center;
        justify-content: space-between;
        background-color: var(--color-background);
        padding: 5px 0 5px 0;
    }

    .socialmedia {
        display: flex;
        width: 40%;
        gap: 10px;
        justify-content: start;
        padding-left: 1em;
    }

    .ig, .fb {
        width: 20px;
        height: 20px;
    }

    span {
        display: flex;
        width: 60%;
        font-size: 14px;
        color:var(--color-secondary);
        padding-left: 3em; 
    }

}

@media screen and (min-width:1024px) and (max-width: 1440px) {

    header {
        display: flex;
        position: fixed;
        z-index: 1;
        width: 100%;
        height: 80px;
        background-color: var(--color-background);
        align-items: center;
    }
    
    .logo {
        display: flex;
        width: 65%;
        justify-content: space-between;
        align-items: center;
        padding-left: 1.5em;
    }

    .logo > a > img {
        width: 70%;
    }

    .name {
        display: flex;
        width: 50%;
        justify-content: end;
        align-items: center;
        padding-right: 1.5em;
    }
  
    
    h1 {
        font-size: 24px;
        color: var(--color-secondary);
    }
    
    main {
        display: flex;
        width: 100%;
        height: 500px;
        padding-top: 80px;
        
    }

    .main-background {
        display: flex;
        width: 100%;
        height: 500px;
    }

    
    .main-background > img {
        width: 100%;
        filter: grayscale(20%);
        object-fit: cover;
    }
    
    .info {
        display: flex;
        width: 100%;
        padding: 8px;
        justify-content: space-around;
        position: absolute;
        top: 10em;
        gap: 20em;
        color: var(--color-primary);
        background-color: transparent;
    }
    
    .parrafo-1, .parrafo-2 {
        background-color: #c6c1bd54;
        border-radius: 5px;
        padding: 0 5px 0 5px;
        font-size: 34px;
        margin-right: 39px;
    }
    
    .parrafo-1 {
        text-align:right;
    }

    .buttons {
        display: flex;
        width: 100%;
        background-color: transparent;
        position: absolute;
        gap: 13em;
        top: 26em;
        justify-content: space-around;
    }
    
    .buttons > a {
        font-size: 40px;
        background-color: var(--color-secondary);
        color: var(--color-background);
        border-radius: 5px;
        padding: 0 5px;
        margin-left: 33px;
    }
    
    a:hover {
        color: rgb(199, 170, 192);   
    }
    a:active {
        color:rgb(153, 106, 142);
    }
    
    footer {
        width: 100%;
        height: 60px;
        position: fixed;
        bottom: 0;
        padding: 10px 0 10px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: var(--color-background);
       
    }

    .socialmedia {
        display: flex;
        width: 40%;
        gap: 10px;
        justify-content: start;
        padding-left: 1em;
    }

    .ig, .fb {
        width:36px;
        height: 36px;
    }

    span {
        display: flex;
        width: 60%;
        font-size: 15px;
        padding-left: 3em;
        color:var(--color-secondary); 
    }

}