* {
    margin: 0;
    padding: 0; 
    max-width: 100%;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
}

body {
    font-family: Optima Roman;
    background-color: var(--color-secondary);
}

:root {
    --color-background:#c6c1bd;
    --color-primary:#2c3135;
    --color-secondary: #6b6368;
    --font-family:var(--font-family);
}


header {
    display: flex;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 80px;
    background-color: var(--color-background);
    align-items: center;
}

.logo {
    display: flex;
    width: 65%;
    justify-content: space-between;
    align-items: center;
    padding-left: 1.5em;
}

.logo > a > img {
    width: 70%;
}

.name {
    display: flex;
    width: 50%;
    justify-content: end;
    align-items: center;
    padding-right: 1.5em;
}


h1 {
    font-size: 24px;
    color: var(--color-secondary);
}

main {
    display: flex;
    width: 100%;
    height: 500px;
    padding-top: 80px;
    
}

.main-background {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 1000px;
}


.background-rest {
    width: 100%;
    filter: grayscale(20%);
    object-fit: cover;
}

.background-mobile {
    display: none;
}

.background-mobile2 {
    height: 1000px;
    object-fit: scale-down;
    background-color: #121516;
}

.info {
    display: flex;
    width: 100%;
    padding: 8px;
    justify-content: space-around;
    position: absolute;
    bottom: 5em;
    gap: 11em;
    color: var(--color-primary);
    background-color: transparent;
}

.parrafo-1, .parrafo-2 {
    display: flex;
    justify-content: center;
    width: 20%;
    text-align: center;
    background-color: #c6c1bd54;
    border-radius: 5px;
    padding: 0 5px 0 5px;
    font-size: 24px;
    margin-right: 25px;
}


.buttons {
    display: flex;
    width: 100%;
    position: absolute;
    gap: 8em;
    bottom: 10em;
    justify-content: space-around;
}

.buttons > a {
    font-size: 40px;
    background-color: var(--color-secondary);
    color: var(--color-background);
    border-radius: 5px;
    padding: 0 25px;
    margin-left: 13px;
}

a:hover {
    color: rgb(199, 170, 192);   
}
a:active {
    color:rgb(153, 106, 142);
}

footer {
    width: 100%;
    height: 60px;
    position: fixed;
    bottom: 0;
    padding: 10px 0 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-background);
   
}

.socialmedia {
    display: flex;
    justify-content: space-evenly;
    width: 7%;
    gap: 10px;
    padding-left: 1em;
}

.ig, .fb {
    width:36px;
    height: 36px;
}


.footer-firma {
    display: flex;
    justify-content: start;
    align-items: center;
    text-align: center;
    width: 55%;
    font-size: 14px;
}





/*MOBILE FIRST*/

@media screen and (max-width: 620px) {

    header {
        display: flex;
        position: fixed;
        z-index: 1;
        width: 100%;
        height: 40px;
        padding: 8px;
        background-color: var(--color-background);
    }
    
    .logo {
        display: flex;
        width: 65%;
        justify-content: space-between;
        align-items: center;
        padding-left: 0.5em;
    }

    .logo > a > img {
        width: 160px;
    }

    .name {
        display: flex;
        width: 50%;
        justify-content: center;
        align-items: center;
        padding-right: 0.5em;
    }
  
    
    h1 {
        font-size: 13px;
        color: var(--color-secondary);
    }
    main {
        display: flex;
        width: 100%;
        height: 100vh;
    }

    .main-background {
        display: flex;
        flex-direction: column;
        position: relative;
        top: 40px;
        width: 100%;
        height: auto;
    }

    
    .background-rest {
        display: none;
    }

    .background-mobile {
        width: 100%;
        height: 260px;
        filter:grayscale(20%);
        object-fit: cover;
    }

    .background-mobile2 {
        background-color: #121516;
        object-fit: scale-down;
    }
    
    .info {
        display: flex;
        width: 100%;
        padding: 5px;
        justify-content: space-around;
        position: absolute;
        top: 12em;
        color: var(--color-primary);
        background-color: transparent;
    }
    
    .parrafo-1, .parrafo-2 {
        display: flex;
        justify-content: center;
        text-align: center;
        background-color: #c6c1bd3f;
        border-radius: 5px;
        padding: 0 5px 0 5px;
        font-size: 12px;
    }
    
    .buttons {
        display: flex;
        width: 100%;
        padding: 0px 30px 0px 35px;
        position: absolute;
        top: 19em;
        justify-content: space-between;
    }
    
    .buttons > a {
        font-size: 16px;
        background-color: var(--color-secondary);
        color: var(--color-background);
        border-radius: 5px;
        padding: 0 15px; 
    }
    
    a:hover {
        color: rgb(199, 170, 192);   
    }
    a:active {
        color:rgb(153, 106, 142);
    }
    
    footer {
        width: 100%;
        height: 30px;
        position: fixed;
        bottom: 0;
        padding: 10px 0 10px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: var(--color-background);
       
    }

    .socialmedia {
        display: flex;
        justify-content: space-evenly;
        width: 18%;
        gap: 10px;
        padding-left: 0.2em;
    }

    .ig, .fb {
        width:20px;
        height: 20px;
    }

    
    .footer-firma {
        display: flex;
        justify-content: start;
        align-items: center;
        text-align: center;
        width: 60%;
        font-size: 10px;
    }

}
  


@media screen and (min-width:621px) and (max-width: 1024px) {

    header {
        display: flex;
        position: fixed;
        z-index: 1;
        width: 100%;
        height: 60px;
        padding: 8px;
        background-color: var(--color-background);
    }
    
    .logo {
        display: flex;
        width: 65%;
        justify-content: space-between;
        align-items: center;
        padding-left: 0.5em;
    }

    .logo > a > img {
        width: 250px;
    }

    .name {
        display: flex;
        width: 50%;
        justify-content: center;
        align-items: center;
        padding-right: 0.5em;
    }
  
    
    h1 {
        font-size: 19px;
        color: var(--color-secondary);
    }
    
    main {
        display: flex;
        width: 100%;
        height: 100vh;
        padding-top: 40px;
        background-color: var(--color-secondary);
    }

    .main-background {
        display: flex;
        flex-direction: column;
        position: relative;
        top: 22px;
        width: 100%;
        height: auto;
    }

    
    .background-rest {
        width: 100%;
        height: 600px;
        filter:grayscale(20%);
        object-fit: cover;
    }

    .background-mobile {
        display: none;
    }

    .background-mobile2 {
        width: 100%;
        object-fit: scale-down;
        background-color: #121516;
    }
    
    .info {
        display: flex;
        width: 100%;
        padding: 8px;
        justify-content: space-around;
        text-align: center;
        position: absolute;
        top: 25em;
        color: var(--color-primary);
        background-color: transparent;
    }
    
    .parrafo-1, .parrafo-2 {
        display: flex;
        width: 30%;
        justify-content: center;
        background-color: #c6c1bd54;
        border-radius: 5px;
        padding: 0 5px 0 5px;
        font-size: 18px;
    }

    
    .buttons {
        display: flex;
        width: 100%;
        position: absolute;
        bottom: 28em;
        justify-content: space-around;
    }
    
    .buttons > a {
        font-size: 25px;
        background-color: var(--color-secondary);
        color: var(--color-background);
        border-radius: 5px;
        padding: 0px 25px;
    }
    
    a:hover {
        color: rgb(199, 170, 192);   
    }
    a:active {
        color:rgb(153, 106, 142);
    }
    
    footer {
        width: 100%;
        height: 35px;
        position: fixed;
        bottom: 0;
        padding: 10px 0 10px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: var(--color-background);
       
    }

    .socialmedia {
        display: flex;
        justify-content: space-evenly;
        width: 10%;
        gap: 10px;
        padding-left: 1em;
    }

    .ig, .fb {
        width:20px;
        height: 20px;
    }

    
    .footer-firma {
        display: flex;
        justify-content: start;
        align-items: center;
        text-align: center;
        width: 57%;
        font-size: 11px;
    }
}



@media screen and (min-width:1025px) and (max-width: 1279px) {
    header {
        display: flex;
        position: fixed;
        z-index: 1;
        width: 100%;
        height: 70px;
        background-color: var(--color-background);
        align-items: center;
    }
    .logo {
        display: flex;
        width: 65%;
        justify-content: space-between;
        align-items: center;
        padding-left: 1.5em;
    }

    .logo > a > img {
        width: 70%;
    }

    .name {
        display: flex;
        width: 50%;
        justify-content: end;
        align-items: center;
        padding-right: 1.5em;
    }
  
    
    h1 {
        font-size: 24px;
        color: var(--color-secondary);
    }
    

    .main-background {
        display: flex;
        flex-direction: column;
        position: relative;
        width: 100%;
        height: 860px;
    }

    
    .background-rest {
        width: 100%;
        filter: grayscale(20%);
        object-fit: cover;
    }

    .background-mobile {
        display: none;
    }

    .background-mobile2 {
        height: 800px;
        object-fit: scale-down;
        background-color: #121516;
    }
    
    .info {
        display: flex;
        width: 100%;
        justify-content: space-around;
        position: absolute;
        bottom: 10em;
        color: var(--color-primary); 
    }
    
    .parrafo-1, .parrafo-2 {
        display: flex;
        justify-content: center;
        width: 20%;
        text-align: center;
        background-color: #c6c1bd54;
        border-radius: 5px;
        padding: 0 5px 0 5px;
        font-size: 18px;
        margin-right: 25px;
    }


    .buttons {
        display: flex;
        width: 100%;
        position: absolute;
        bottom: 14em;
        justify-content: space-around;
    }
    
    .buttons > a {
        font-size: 30px;
        background-color: var(--color-secondary);
        color: var(--color-background);
        border-radius: 5px;
        padding: 0 25px;
        margin-right: 30px;
    }
    
    a:hover {
        color: rgb(199, 170, 192);   
    }
    a:active {
        color:rgb(153, 106, 142);
    }
    
    footer {
        width: 100%;
        height: 40px;
        position: fixed;
        bottom: 0;
        padding: 10px 0 10px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: var(--color-background);
       
    }

    .socialmedia {
        display: flex;
        justify-content: space-evenly;
        width: 7%;
        gap: 10px;
        padding-left: 1em;
    }

    .ig, .fb {
        width:26px;
        height: 26px;
    }

    
    .footer-firma {
        display: flex;
        justify-content: start;
        align-items: center;
        text-align: center;
        width: 55%;
        font-size: 12px;
    }

}


@media screen and (min-width:1441px) {
    header {
        display: flex;
        position: fixed;
        z-index: 1;
        width: 100%;
        height: 90px;
        background-color: var(--color-background);
        align-items: center;
    }

    .logo {
        display: flex;
        width: 65%;
        justify-content: space-between;
        align-items: center;
        padding-left: 1.5em;
    }

    .logo > a > img {
        width: 70%;
    }

    .name {
        display: flex;
        width: 50%;
        justify-content: end;
        align-items: center;
        padding-right: 1.5em;
    }
  
    
    h1 {
        font-size: 26px;
        color: var(--color-secondary);
    }
    

    .main-background {
        display: flex;
        flex-direction: column;
        position: relative;
        top: 90px;
        width: 100%;
        height: 1050px;
    }
    
    .background-rest {
        width: 100%;
        height: 100vh;
        object-fit: contain;
        background-color: #151515;
    }

    .background-mobile {
        display: none;
    }

    .background-mobile2 {
        height: 1000px;
        object-fit: scale-down;
        background-color: #151515;
        padding-bottom: 100px;
    }
    
    .info {
        display: flex;
        width: 100%;
        justify-content: center;
        position: absolute;
        bottom: 7em;
        gap: 50px;
    }
    
    .parrafo-1, .parrafo-2 {
        display: flex;
        justify-content: center;
        width: 35%;
        background-color: #c6c1bd54;
        border-radius: 5px;
        padding: 0 5px 0 5px;
        font-size: 20px;
        text-align: center;
    }

    .buttons {
        display: flex;
        width: 100%;
        position: relative;
        bottom: 20em;
        justify-content: space-evenly;
    }
    
    .buttons > a {
        font-size: 50px;
        background-color: var(--color-secondary);
        color: var(--color-background);
        border-radius: 5px;
        padding: 0 25px;
    }
    
    a:hover {
        color: rgb(199, 170, 192);   
    }
    a:active {
        color:rgb(153, 106, 142);
    }
    
    footer {
        width: 100%;
        height: 60px;
        position: fixed;
        bottom: 0;
        padding: 10px 0 10px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: var(--color-background);
       
    }

    .socialmedia {
        display: flex;
        justify-content: space-evenly;
        width: 7%;
        gap: 10px;
        padding-left: 1em;
    }

    .ig, .fb {
        width:36px;
        height: 36px;
    }

    
    .footer-firma {
        display: flex;
        justify-content: start;
        align-items: center;
        text-align: center;
        width: 55%;
        font-size: 14px;
        
    }
}
